<?xml version='1.0' encoding='utf-8'?>
<widget id="com.salesforce.internal.jpmc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Required -->
    <preference name="com.salesforce.marketingcloud.app_id" value="40869a6f-c0ce-4637-8c29-c41c26161b2e" />
    <preference name="com.salesforce.marketingcloud.access_token" value="PQLG9dUGMd6a46dPGJQQhTyN" />
    <preference name="com.salesforce.marketingcloud.tenant_specific_endpoint" value="https://mcpththcmp1-ls8tz6vz2ypfzz7q.device.marketingcloudapis.com/" />

    <!-- Required - Android Only -->
    <platform name="android">
    <preference name="com.salesforce.marketingcloud.notification_small_icon" value="ic_notification" />
    </platform>

    <!-- Optional -->
    <preference name="com.salesforce.marketingcloud.analytics" value="true" />
    <preference name="com.salesforce.marketingcloud.delay_registration_until_contact_key_is_set" value="false" />

</widget>
